@font-face {
    font-family: 'Monaco';
    src: url('https://raw.githubusercontent.com/cstrap/monaco-font/master/Monaco/Monaco.ttf') format('truetype');
}
body {
    font-family: 'Monaco', monospace;
    background-image: url('https://media.istockphoto.com/id/865457032/vector/abstract-futuristic-cyberspace-with-binary-code-matrix-background-with-digits-well-organized.jpg?s=612x612&w=0&k=20&c=IQcdedY8fn_DMq6nwc5MaHUBe0H0d5DPyibHR8J2usk=');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e0e0e0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(40, 44, 52, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1 {
    color: #61dafb;
}
.btn {
    background-color: #282c34;
    color: #61dafb;
    border: 1px solid #61dafb;
    transition: all 0.3s;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
}
.btn:hover {
    background-color: #61dafb;
    color: #282c34;
}